--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
fastapi
uvicorn
pydantic
pystac-client
requests
httpx
python-dotenv
earthengine-api
google-generativeai
openai
rasterio
python-multipart
ExifRead
Pillow
psycopg2-binary
asyncpg
SQLAlchemy
geoalchemy2
shapely
ultralytics